<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1 class="logo">WYR</h1>
          <p class="navbar-text navbar-right pull-right">Would You Rather (WYR) is party card game where players are faced with difficult, sick, & twisted decisons</p>
        </div>

      </div>
    </nav>

    <header class="image-bg-fluid-height">
      <h1 class="main-text-1">Help us make the most f*cked up game of all time</h1>
      <h1 class="main-text-2">Vote on which user submitted questions should be included in the game, or submit your own!</h1>
    </header>

    <!-- Content Section -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-md-8 col-md-offset-2">
              <div class="card-container">
                <div class="single-scenerio-container">
                  <p>{{randomCard.scenerio_1}}</p>
                </div>
                <div class="scenerio-divider">
                  <hr>
                  <div class="scenerio-divider-or-shell">
                    <p><span>or</span></p>
                  </div>
                </div>
                <div class="single-scenerio-container">
                  <p>{{randomCard.scenerio_2}}</p>
                </div>
                <hr class="bottom-divider">
                <div>
                  <button class="card-button card-button-yes" {{action 'upVoteRound'}}>WYR</button>
                  <button class="card-button card-button-no" {{action 'downVoteRound'}}>NAH</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="submit-question-btn-shell">
                <button>Submit Question</button>
                <p>Submit question and if yours is selected for the game we will give you mad props</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <div class="row">
                {{outlet}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>




