{{#modal-dialog close='close'}}
  <div class="col-lg-12">
    <div class="card-container submit-container">
      <div class="single-scenerio-container">
        {{textarea valueBinding='model.scenerio_1' placeholder="Scenerio 1"}}
      </div>
      <div class="scenerio-divider">
        <hr>
        <div class="scenerio-divider-or-shell">
          <p><span>or</span></p>
        </div>
      </div>
      <div class="single-scenerio-container">
        {{textarea valueBinding='model.scenerio_2' placeholder="Scenerio 2"}}
      </div>
      <hr class="bottom-divider">
      <div class="button-shell">
        <table>
          <tr>
            <td>{{input valueBinding='model.author' placeholder="ex: @nemrow" class="author-name"}}</td>
          </tr>
          <tr>
            <td><p>so we can give you cred!</p></td>
          </tr>
          <tr>
            <td>{{input valueBinding='model.email' placeholder="Email Address" class="author-name"}}</td>
          </tr>
          <tr>
            <td><p>To let you know if it gets chosen!</p></td>
          </tr>
          <tr>
            <td style="text-align: center;"><button class="card-button card-button-yes" {{action 'submit' model}}>Submit</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
{{/modal-dialog}}
